<web-app>
<servlet>
<servlet-name>CreateCookie</servlet-name>
<servlet-class>CreateCookie</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>CreateCookie</servlet-name>
<url-pattern>/CreateCookie</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ReadCookie</servlet-name>
<servlet-class>ReadCookie</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ReadCookie</servlet-name>
<url-pattern>/ReadCookie</url-pattern>
</servlet-mapping>
</web-app>